{% extends "base.html.twig" %}

{% block body %}
<div class="media-body">
    <h1 class="mt-0">Ajouter une catégorie</h1>
    <br>
    {{ form_start(form) }}
    <div class="mb-3">
    {{ form_widget(form) }}
    </div>
    <button type="submit" class="btn btn-primary">Add category</button>
    {{ form_end(form) }}
</div>
{% endblock %}
